#mapa{
    background-image: url(../assets/img/aaaaa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 80% 140%;
}

