#mapa{
    background-image: url(../assets/img/aviaoe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 90% 150%;
}

